.store-item-div{

    font-family: Arial;
    text-align: center;
    border: none;
    width: 12em;
    

    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;       /* ← make sure it’s allowed to stretch */
    margin: 0 auto;    /* Center it inside body */

}

